@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Robot, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

nav, main, footer{
    padding: 0 10vw;
}

#logo{
    width: 148px;
    height: 40px;
}

nav{
    padding-top: 20px;
    height: 90vh;
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;

    background: linear-gradient(to top, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%),
     url(Images/hero-img.jpg) center center no-repeat;
    background-size: cover;
}

.sign-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

nav::after{
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    width: 120%;
    height: 6px;
    
    background: radial-gradient(circle at center, #e50914 0%, #ff0055 100%);

    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

    /* box-shadow: 0 20px 60px #141e46; */
}

.h-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, a {
    background-color: rgb(229, 9, 20);
    color: white;
    border: solid 1px rgb(229, 9, 20);
    padding: 4px 16px;
    border-radius: 3px;
    cursor: pointer;
}

a{
    text-decoration: none;
    padding: 4px 16px;
}

#hero-button{
    padding: 12px 24px;
}

#email{
    padding: 12px 24px;
}

.trending-now{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clip-img{
    width: 180px;
    height: 250px;
}

span{
    color: black;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
    font-weight: 800;
    text-shadow : 0 0 1.5rem rgba(0, 0, 0, 0.5);
    
    position: relative;
    right: 26px;
    bottom: 130px;
}

.carousel-track {
    display: flex;
    
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex: 1;
    padding: 0 20px;
}

