@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Robot, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 50px;
}

nav, main, footer{
    padding: 0 15vw;
}

#logo{
    width: 148px;
    height: 40px;
}

nav{
    padding-top: 20px;
    height: 90vh;
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;

    background: linear-gradient(to top, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%),
     url(Images/hero-img.jpg) center center no-repeat;
    background-size: cover;
}

.h-text h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}



.sign-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

main::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 65px;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.h-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 4px 16px;
}

button, a {
    background-color: rgb(229, 9, 20);
    color: white;
    border: solid 1px rgb(229, 9, 20);
    padding: 4px 16px;
    border-radius: 3px;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    display: inline-flex;
}

#hero-button{
    padding: 12px 24px;
    line-height: 1.5;
}

#email{
    line-height: 1.5;
    width: 360px;
    padding: 15px 16px 15px 16px;
    background: #131010;
    border: 1px solid #5e5e5e;
    border-radius: 2px;
}

.trending-now{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clip-img{
    width: 180px;
    height: 250px;
}

.clip{
    position: relative;
}

.clip span{
    color: black;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
    font-weight: 800;
    text-shadow : 0 0 1.5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 140px;
    top: 105px;
}

.clip .ten{
    right: 80px;
}


.carousel-track {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex: 1;
    padding: 0 20px;

    flex: 0 0 272px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.video-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 60px 0;
}

.card{
    background: linear-gradient( 149deg, #192247 0%, #210e17 96.86%);
    border-radius: 25px;
    gap: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.other-cards{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.other-cards .card{
    flex: 1;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
}

.card-text h2{
    font-size: 20px;
}

.card-img{
    position: ;
    padding-right: 10px; 
}


details{
    background: rgb(45,45,45);
    font-weight: 400px;
    margin-bottom: 10px;
    padding: 20px;
}

details p{
    padding: 25px;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 -25px;
    border-top: 2px solid black;
}

details:hover {
  background-color: #333;
}

summary{
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    padding-right: 40px;
    padding-bottom: 10px;

}

summary::-webkit-details-marker {
  display: none;
}
   
summary::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    width: 25px;
    height: 25px;
    background-image: url(Images/dropdown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

details [open] summary::after{
    transform: translate(-50%) rotate(45deg);
}

.pre-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.pre-footer h3{
    font-size: medium;
    text-align: center;
    font-weight: 300;
}

footer{
    margin-top: 70px;
    color: #5e5e5e;
    margin-bottom: 50px;
}

footer h2{
    font-size: medium;
    font-weight: 300;
}

footer a{
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
}

#links{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    text-decoration: underline;
    color: rgb(255 255 255 0.7);
}

ul li{
    margin-top: 12px;
}

.language{
    background-color: #0f0f0f;
    height: 32px;
    width: 132px;
    color: white;
    padding: 6px 30px 6px 36px;
    margin-top: 20px;
}
